* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header {
  overflow: hidden;
}
main {
  overflow: hidden;
}
.container {
  max-width: 1260px;
  margin: auto;
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url("../fonts/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url("../fonts/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Regular';
  src: url("../fonts/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url("../fonts/Ubuntu-Light.eot");
  src: url("../fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Light Italic';
  src: url("../fonts/Ubuntu-LightItalic.eot");
  src: url("../fonts/Ubuntu-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-LightItalic.woff") format("woff"), url("../fonts/Ubuntu-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: white;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
}

.logo__logo-image {
  display: block;
  width: 201px;
  height: 31px;
  background: url(../img/logo.png) no-repeat top center;
}

.menu {
  min-width: 470px;
}

.menu__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #2b384b91;
}

.menu__link:after {
  content: attr(data-title);
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  top: 30px;
  left: 70px;
  margin-left: -8px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  opacity: 0;
}

.menu__link:hover:after {
  opacity: 1;
  top: 0px;
}

body {
  font-family: 'Ubuntu Regular', sans-serif;
  color: #2b384b91;
}

.bg-secondary {
  background-color: #f8f8f8;
}

.hero {
  background: #fff url("../img/background-main.jpg") no-repeat center top;
  background-size: cover;
  padding-top: 240px;
  padding-bottom: 260px;
  color: #ffffff;
}

.hero__title {
  width: 485px;
  font-size: 52px;
  font-family: 'Ubuntu Bold', sans-serif;
  text-transform: uppercase;
  line-height: 1.7;
  margin-bottom: 30px;
}

.hero__slogan {
  font-size: 24px;
  font-family: 'Ubuntu Regular', sans-serif;
  margin-bottom: 68px;
}

.hero__subtitle {
  display: block;
  font-family: 'Ubuntu Medium', sans-serif;
  margin-bottom: 37px;
  font-size: 16px;
}

.hero__subtitle-excerpt {
  text-transform: uppercase;
  padding: 9px 9px;
  background-color: #ffce54;
  border-radius: 6px;
}

.form {
  width: 573px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input {
  height: 54px;
  width: 423px;
  padding-left: 30px;
  border: 1px solid #71b3e034;
  border-radius: 7px;
  font-size: 18px;
  color: #2b384b91;
  font-family: 'Ubuntu Light', sans-serif;
}

.form__button:hover {
  cursor: pointer;
  background-color: #70b840;
}

.form__button {
  padding: 21px 25px;
  border-radius: 7px;
  border: none;
  font-family: 'Ubuntu Regular', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #77c344;
}

::-webkit-input-placeholder {
  color: #323d5254;
}

.clients {
  min-height: 160px;
  padding-top: 54px;
  table-layout: 47px;
}

.clients__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages {
  position: relative;
}

.advantages__block {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 150px;
}

.advantages__heading {
  text-align: center;
  text-transform: uppercase;
  color: #2d394c;
  font-size: 40px;
  margin-bottom: 135px;
}

.advantages-wrap {
  position: relative;
  height: 630px;
}

.advantages-wrap__laptop {
  position: absolute;
  width: 744px;
  height: 100%;
  background-image: url(../img/advantages/adv_laptop.png);
  background-size: contain;
  left: 835px;
  top: 0;
  z-index: -1;
}

.advantages-wrap__title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.advantages-wrap__icon {
  background-size: contain;
  width: 52px;
  height: 52px;
  margin-right: 14px;
}

.advantages-wrap__caption {
  font-size: 22px;
  color: #2d394c;
  font-family: 'Ubuntu Regular', sans-serif;
  list-style: none;
}

.advantages-wrap__article {
  width: 482px;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: 'Ubuntu Regular', sans-serif;
  color: #2b384b91;
  list-style: none;
  padding-left: 0;
}

.cloud-icon {
  background: url(../img/advantages/advantages-icon1.png) no-repeat center bottom;
}

.clock-icon {
  background: url(../img/advantages/advantages-icon2.png) no-repeat center bottom;
}

.message-icon {
  background: url(../img/advantages/advantages-icon3.png) no-repeat center bottom;
}

.pages-icon {
  background: url(../img/advantages/advantages-icon4.png) no-repeat center bottom;
}

.difference {
  position: relative;
  min-height: 694px;
  overflow-x: hidden;
}

.difference__image {
  position: absolute;
  left: 770px;
  top: 0;
  width: 1500px;
  height: 694px;
  background-image: url(../img/difference/difference-background.png);
  background-size: cover;
}

.difference-block {
  width: 100%;
}

.difference__heading {
  margin-top: 164px;
  margin-bottom: 170px;
  margin-left: 250px;
  text-transform: uppercase;
  font-family: 'Ubuntu Light', sans-serif;
  font-size: 40px;
  color: #2d394c;
}

.difference__slider {
  width: 735px;
  margin-bottom: 123px;
}

.difference__slider__wrap-dots {
  margin-left: auto;
}

.difference__slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  margin-top: 45px;
}

.difference__slider-button:hover {
  border-radius: 50%;
  background-color: #99999918;
  color: #2b384b91;
}

.difference__slider-button {
  cursor: pointer;
  padding: 6px 11px;
  margin-right: 10px;
  color: #2b384b91;
  font-family: 'Ubuntu Medium', sans-serif;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.difference__slide {
  display: none;
  width: 725px;
  height: 192px;
}

.difference__slide-icon {
  margin-bottom: -10px;
  margin-right: 30px;
}

.difference__slide-title {
  display: inline;
  font-size: 28px;
  color: #2d394c;
  font-family: 'Ubuntu Light', sans-serif;
}

.difference__slide-article {
  width: 710px;
  margin-top: 40px;
  line-height: 1.7;
}

.chosen {
  border-radius: 50%;
  background-color: #64a4d7;
  color: white;
}

.feedback__title {
  font-family: 'Ubuntu Regular', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  color: #2d394c;
  text-align: center;
  margin-top: 147px;
}

.feedback__subtitle {
  font-family: 'Ubuntu Light Italic', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 45px;
}

.feedback__wrap-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 105px;
}

.feedback__form {
  width: 856px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__form__input {
  width: 630px;
  height: 68px;
}

.feedback__form__input::-webkit-input-placeholder {
  background: url(../img/feedback/m-icon.png) no-repeat;
  background-size: 27px;
}

.feedback__form__input:-ms-input-placeholder {
  background: url(../img/feedback/m-icon.png) no-repeat;
  background-size: 27px;
}

.feedback__form__input::-ms-input-placeholder {
  background: url(../img/feedback/m-icon.png) no-repeat;
  background-size: 27px;
}

.feedback__form__input::placeholder {
  background: url(../img/feedback/m-icon.png) no-repeat;
  background-size: 27px;
}

.feedback__form__button {
  width: 190px;
  font-size: 18px;
}

.footer {
  border-top: 1px solid #5a626e4d;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 139px;
}

.footer__logo-image {
  display: block;
  width: 178px;
  height: 27px;
  background: url(../img/footer/grey-logo.png) no-repeat top center;
}

.menu {
  min-width: 614px;
}

.menu__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #2b384b91;
}

.menu__vertical-line {
  width: 1px;
  height: 27px;
  background-color: #77777760;
}
/*# sourceMappingURL=style.css.map */
