* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1260px;
  margin: auto;
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url("../fonts/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url("../fonts/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Regular';
  src: url("../fonts/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url("../fonts/Ubuntu-Light.eot");
  src: url("../fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Light Italic';
  src: url("../fonts/Ubuntu-LightItalic.eot");
  src: url("../fonts/Ubuntu-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-LightItalic.woff") format("woff"), url("../fonts/Ubuntu-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: white;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
}

.logo__logo-image {
  display: block;
  width: 201px;
  height: 31px;
  background: url(../img/logo.png) no-repeat top center;
}

.menu {
  min-width: 470px;
}

.menu__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #2b384b91;
}

body {
  font-family: 'Ubuntu Regular', sans-serif;
  color: #2b384b91;
}

.bg-secondary {
  background-color: #f8f8f8;
}

.hero {
  background: #fff url("../img/background-main.jpg") no-repeat center top;
  background-size: cover;
  padding-top: 240px;
  padding-bottom: 260px;
  color: #ffffff;
}

.hero__title {
  width: 485px;
  font-size: 52px;
  font-family: 'Ubuntu Bold', sans-serif;
  text-transform: uppercase;
  line-height: 1.7;
  margin-bottom: 30px;
}

.hero__slogan {
  font-size: 24px;
  font-family: 'Ubuntu Regular', sans-serif;
  margin-bottom: 68px;
}

.hero__subtitle {
  display: block;
  font-family: 'Ubuntu Medium', sans-serif;
  margin-bottom: 37px;
  font-size: 16px;
}

.hero__subtitle-excerpt {
  text-transform: uppercase;
  padding: 9px 9px;
  background-color: #ffce54;
  border-radius: 6px;
}

.form {
  width: 573px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input {
  height: 54px;
  width: 423px;
  padding-left: 30px;
  border: 1px solid #71b3e034;
  border-radius: 7px;
  font-size: 18px;
  color: #2b384b91;
  font-family: 'Ubuntu Light', sans-serif;
}

.form__button {
  padding: 21px 25px;
  border-radius: 7px;
  border: none;
  font-family: 'Ubuntu Regular', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #77c344;
}

::-webkit-input-placeholder {
  color: #323d5254;
}

.clients {
  min-height: 160px;
  padding-top: 54px;
  table-layout: 47px;
}

.clients__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */